In [1]:
import pandas as pd
from sklearn.utils import shuffle

In [2]:
col_names = ["timestamp","datapath_id","flow_id","ip_src","tp_src","ip_dst","tp_dst",
             "ip_proto","icmp_code","icmp_type","flow_duration_sec","flow_duration_nsec",
             "idle_timeout","hard_timeout","flags","packet_count","byte_count",
             "packet_count_per_second","packet_count_per_nsecond","byte_count_per_second","byte_count_per_nsecond","label"]

In [3]:
# col_names = ["flow_id",
#              "ip_src","tp_src","ip_dst","tp_dst",
#              "ip_proto","icmp_code","icmp_type",
#              "flow_duration_sec","idle_timeout","hard_timeout",
#              "packet_count","byte_count",
#              "label"]

In [4]:
### 处理攻击数据
ddos_flow_dataset = pd.read_csv('./data/FlowStatsfile_ddos.csv',names = col_names)

In [5]:
## ddos_flow_dataset = ddos_flow_dataset.drop(0)
ddos_flow_dataset = shuffle(ddos_flow_dataset) # 打乱数据 
ddos_flow_dataset = ddos_flow_dataset.iloc[0:10000]
ddos_flow_dataset.head(10)

,ip_src,tp_src,ip_dst,tp_dst,ip_proto,flow_duration_sec,idle_timeout,hard_timeout,byte_count,label
364364,51.211.14.134,0,10.0.0.10,0,1,16,20,100,0,0
310471,91.114.201.118,0,10.0.0.10,0,1,14,20,100,0,0
233521,20.194.180.200,0,10.0.0.10,0,1,6,20,100,0,0
338566,30.218.82.211,0,10.0.0.10,0,1,11,20,100,0,0
51440,220.249.142.53,0,10.0.0.10,0,1,5,20,100,0,0
22721,155.34.226.134,0,10.0.0.10,0,1,12,20,100,0,0
218700,55.225.65.131,0,10.0.0.10,0,1,1,20,100,0,0
47617,204.55.247.226,0,10.0.0.10,0,1,8,20,100,0,0
221997,167.151.142.165,0,10.0.0.10,0,1,16,20,100,0,0
190672,162.247.227.83,0,10.0.0.10,0,1,5,20,100,0,0

In [6]:
ddos_flow_dataset.iloc[:, 2] = ddos_flow_dataset.iloc[:, 2].str.replace('.', '')
ddos_flow_dataset.iloc[:, 3] = ddos_flow_dataset.iloc[:, 3].str.replace('.', '')
ddos_flow_dataset.iloc[:, 5] = ddos_flow_dataset.iloc[:, 5].str.replace('.', '')
# ddos_flow_dataset.iloc[:, 0] = ddos_flow_dataset.iloc[:, 0].str.replace('.', '')
# ddos_flow_dataset.iloc[:, 2] = ddos_flow_dataset.iloc[:, 2].str.replace('.', '')
ddos_flow_dataset.head(10)

C:\Users\123\AppData\Local\Temp/ipykernel_6540/3049977305.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  ddos_flow_dataset.iloc[:, 0] = ddos_flow_dataset.iloc[:, 0].str.replace('.', '')
C:\Users\123\AppData\Local\Temp/ipykernel_6540/3049977305.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  ddos_flow_dataset.iloc[:, 2] = ddos_flow_dataset.iloc[:, 2].str.replace('.', '')

,ip_src,tp_src,ip_dst,tp_dst,ip_proto,flow_duration_sec,idle_timeout,hard_timeout,byte_count,label
364364,5121114134,0,100010,0,1,16,20,100,0,0
310471,91114201118,0,100010,0,1,14,20,100,0,0
233521,20194180200,0,100010,0,1,6,20,100,0,0
338566,3021882211,0,100010,0,1,11,20,100,0,0
51440,22024914253,0,100010,0,1,5,20,100,0,0
22721,15534226134,0,100010,0,1,12,20,100,0,0
218700,5522565131,0,100010,0,1,1,20,100,0,0
47617,20455247226,0,100010,0,1,8,20,100,0,0
221997,167151142165,0,100010,0,1,16,20,100,0,0
190672,16224722783,0,100010,0,1,5,20,100,0,0

In [7]:
### 处理正常数据
flow_dataset = pd.read_csv('./data/FlowStatsfile.csv',names = col_names)

In [8]:
flow_dataset = flow_dataset.drop(0)
flow_dataset = shuffle(flow_dataset) # 打乱数据 
flow_dataset = flow_dataset.iloc[0:10000]
flow_dataset.head(10)

,ip_src,tp_src,ip_dst,tp_dst,ip_proto,flow_duration_sec,idle_timeout,hard_timeout,byte_count,label
9478,10.0.0.18,0,10.0.0.2,0,1,61,20,100,5782,1
51,10.0.0.1,5050,10.0.0.17,49550,6,15,20,100,87808338,1
1336,10.0.0.1,5050,10.0.0.16,47034,1,33,20,100,3136,1
10529,10.0.0.3,35269,10.0.0.4,5051,1,99,20,100,9506,1
3583,10.0.0.17,35140,10.0.0.1,8000,6,0,20,100,0,1
474,10.0.0.11,46998,10.0.0.1,5050,6,5,20,100,38356680110,1
828,10.0.0.8,60930,10.0.0.1,8000,6,4,20,100,0,1
7600,10.0.0.6,35065,10.0.0.1,5051,17,3,20,100,473256,1
246,10.0.0.9,43898,10.0.0.1,5050,6,5,20,100,40205771770,1
3720,10.0.0.6,44736,10.0.0.10,5051,1,90,20,100,8624,1

In [9]:
ddos_flow_dataset.iloc[:, 2] = ddos_flow_dataset.iloc[:, 2].str.replace('.', '')
ddos_flow_dataset.iloc[:, 3] = ddos_flow_dataset.iloc[:, 3].str.replace('.', '')
ddos_flow_dataset.iloc[:, 5] = ddos_flow_dataset.iloc[:, 5].str.replace('.', '')
flow_dataset.head(10)

C:\Users\123\AppData\Local\Temp/ipykernel_6540/3466460337.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  flow_dataset.iloc[:, 0] = flow_dataset.iloc[:, 0].str.replace('.', '')
C:\Users\123\AppData\Local\Temp/ipykernel_6540/3466460337.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  flow_dataset.iloc[:, 2] = flow_dataset.iloc[:, 2].str.replace('.', '')

,ip_src,tp_src,ip_dst,tp_dst,ip_proto,flow_duration_sec,idle_timeout,hard_timeout,byte_count,label
9478,100018,0,10002,0,1,61,20,100,5782,1
51,10001,5050,100017,49550,6,15,20,100,87808338,1
1336,10001,5050,100016,47034,1,33,20,100,3136,1
10529,10003,35269,10004,5051,1,99,20,100,9506,1
3583,100017,35140,10001,8000,6,0,20,100,0,1
474,100011,46998,10001,5050,6,5,20,100,38356680110,1
828,10008,60930,10001,8000,6,4,20,100,0,1
7600,10006,35065,10001,5051,17,3,20,100,473256,1
246,10009,43898,10001,5050,6,5,20,100,40205771770,1
3720,10006,44736,100010,5051,1,90,20,100,8624,1

In [10]:
import pandas as pd

In [11]:
df_flow = pd.concat([flow_dataset,ddos_flow_dataset])

In [12]:
df_flow = shuffle(df_flow) # 打乱数据

In [13]:
df_flow.to_csv('FlowStatsfile.csv',header=None, index=None)

In [14]:
df_flow

,ip_src,tp_src,ip_dst,tp_dst,ip_proto,flow_duration_sec,idle_timeout,hard_timeout,byte_count,label
348281,21673131162,0,100010,0,1,2,20,100,0,0
144,10001,5051,100017,40080,17,15,20,100,0,1
195907,7062565,0,100010,0,1,1,20,100,0,0
2493,10001,5050,10007,45796,6,21,20,100,102167836,1
383459,141252155217,0,100010,0,1,10,20,100,0,0
...,...,...,...,...,...,...,...,...,...,...
53671,228230131105,0,100010,0,1,4,20,100,0,0
67372,117117211245,0,100010,0,1,13,20,100,0,0
328190,1978914166,0,100010,0,1,0,20,100,0,0
361,10001,8000,10009,47480,6,5,20,100,0,1
3524,100010,5050,10006,49724,1,70,20,100,6664,1

In [15]:
X_flow = df_flow.iloc[:, :-1].values
X_flow = X_flow.astype('float64')
y_flow = df_flow.iloc[:, -1].values

In [16]:
X_flow.shape

(20000, 9)